/*Styles*/
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.Orange-color {
    color: #FD6E0A;
}

.btn-primary {
    border: 0;
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    color: white;
    font-style: normal;
    font-weight: 700;
    padding: 15px 35px;
}

/* nav Styles */
nav {
    padding-bottom: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/*header styles*/
.header {
    background: #FFF8F3;
}

/*baner styles*/
.header {
    background-color: #FFF8F3;
}

.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.Banner-content{
    
}


.banner .Profile_pic {
    width: 584px;
    height: 676px;
    flex-shrink: 0;
}